

/* styles.css */
@import '@fontsource/nunito';
@import '@fontsource/montserrat';
@import '@fontsource/nunito-sans';

:root {
    --primary-color: #1C5679;
    --secondary-color: #404041;
    --tertiary-color: #1C796E;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #C9C9C9;
}

body{
    margin:0;
    padding: 0;
}

* {
    font-family: "Nunito" !important;
}

.textPrimary {
    color: var(--primary-color) !important;
}

.textSecondary {
    color: var(--tertiary-color) !important;
}

.textWhite {
    color: var(--white) !important;
}

.textBlack {
    color: var(--black) !important;
}

.bgColorPrimary {
    background-color: var(--primary-color);
    color: var(--white);
}

.fontMontserrat {
    font-family: montserrat !important;
}

.fontWeight-600 {
    font-weight: 600 !important;
}

.fontWeight-700 {
    font-weight: 700 !important;
}

.fontWeight-800 {
    font-weight: 800 !important;
}

.fontWeight-900 {
    font-weight: 900 !important;
}

.fontWeight-1000 {
    font-weight: 1000 !important;
}

.textCenter {
    text-align: center !important;
}

.MuiAppBar-root{
    background-color: var(--primary-color) !important;
}

.MuiAppBar-root .MuiButton-root {
    margin: 0 !important;
}

.MuiToolbar-root {
    min-height: 48px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: var(--primary-color) !important;
}

.MuiInputBase-input {
    color: var(--primary-color) !important;
}

.MuiFormLabel-root {
    color: var(--primary-color) !important;
}

.btnPrimary {
    color: var(--white) !important;
    background-color: var(--tertiary-color) !important;
}

.headerLink {
    color: var(--white) !important;
    text-decoration: none !important;
}

.googleMap {
    height: 100% !important;
    width: 100% !important;
}

.btnLink {
    color:#1C5679 !important;
}

/* Swiper style */

.swiper {
    background-color: var(--white);
}

.swiper-button-prev, .swiper-button-next {
    color: var(--primary-color) !important;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    color: var(--primary-color) !important;
}

/* Footer style */

footer {
    background-color: var(--white);
}

.copyright {
    background-color: var(--tertiary-color);
    color: var(--white);
}

.course_registration {
    min-height:100vh;
    display: flex;
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center' 

}

.course_registration_form {

    max-width: 700px;
/*     margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px; */
    margin: auto;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 35px;
    flex: 1;
    padding: 30px;

}

.btn_course_register {
    background-color: #1C796E !important;
    width: 100%; 
    margin-top: 5% !important;
}

.courseListCards:hover{
    cursor: pointer;

}

.courseSchedule{
    transition: all .3s;
}

.courseSchedule:hover{
    background-color: #e3e3e3;
}