

/* styles.css */
@import '@fontsource/nunito';
@import '@fontsource/montserrat';
@import '@fontsource/nunito-sans';

:root {
    --primary-color: #1C5679;
    --secondary-color: #404041;
    --tertiary-color: #1C796E;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #C9C9C9;
}

* {
    font-family: "Nunito" !important;
}

.textPrimary {
    color: var(--primary-color) !important;
}

.textSecondary {
    color: var(--tertiary-color) !important;
}

.textWhite {
    color: var(--white) !important;
}

.textBlack {
    color: var(--black) !important;
}

.bgColorPrimary {
    background-color: var(--primary-color);
    color: var(--white);
}

.fontMontserrat {
    font-family: montserrat !important;
}

.fontWeight-600 {
    font-weight: 600 !important;
}

.fontWeight-700 {
    font-weight: 700 !important;
}

.fontWeight-800 {
    font-weight: 800 !important;
}

.fontWeight-900 {
    font-weight: 900 !important;
}

.fontWeight-1000 {
    font-weight: 1000 !important;
}

.textCenter {
    text-align: center !important;
}

.MuiAppBar-root{
    background-color: var(--primary-color) !important;
}

.MuiAppBar-root .MuiButton-root {
    margin: 0 !important;
}

.MuiToolbar-root {
    min-height: 48px !important;
}

.headerLink {
    color: var(--white) !important;
    text-decoration: none !important;
}

/* Swiper style */

.swiper {
    background-color: var(--white);
}

.swiper-button-prev, .swiper-button-next {
    color: var(--primary-color) !important;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    color: var(--primary-color) !important;
}

/* Footer style */

footer {
    background-color: var(--grey);
    padding: 4rem !important;
}
